body{
    margin: 0px;
}

h1{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

ol{
    padding-top: 30px;
    list-style: none;
}

li{
    margin: auto;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    background-color: black;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

.box{
    display: flex;
    flex-direction: row;
    height: 600px;
}

.white-box{
    background-color: #BFBFBF;
    color: #212121;
}

.black-box{
    background-color: #212121;
    color: #dadada;
}

.column{
    margin: auto;
    width: 400px;
}

#title-text{
    margin: auto;
}

#photo-profile-box{
    background-color: #212121;
    height: 600px;
}

