.row{
    display: flex;
    
}

.column{
    flex: 50%;
    border: solid;
    border-color: black;
}

a{
    display: flex;
    justify-content: center;
}

#stats{
    border: solid;
    border-color: black;
    width: 1000px;
}