body{
    margin: 0px;
}

h1{
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px;
    z-index: 100000;
}

header.sticky{
    background-color: white;
    padding: 5px 5px;
    color: black;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header.sticky ul{
    padding: 10px;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
}

header.sticky ul li a{
    color: darkslategrey;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    margin: auto;
    padding-bottom: 10px;
}

ol{
    padding-top: 30px;
    list-style: none;
}



a{
    text-decoration: none;
    color: inherit;
}

.title{
    background-color: black;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

.box{
    display: flex;
    flex-direction: row;
    height: 600px;
}

.white-box{
    background-color: #BFBFBF;
    color: #212121;
}

.black-box{
    background-color: #212121;
    color: #dadada;
}

.column{
    margin: auto;
    width: 400px;
}

#title-text{
    margin: auto;
}

#photo-profile-box{
    background-color: #212121;
    height: 600px;
    margin: auto;
    display: flex; /* this aligns it to the center idk why*/
    
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#photo-profile{
    display: block;
    width: 60%;
    margin: auto;
    max-height: 500px;
    max-width: 750px;
    animation: fadeIn 10s;
}

